<article class="recipe">
  <h1><strong><%= @recipe.title %></strong></h1>
  <hr />

  <div class="row">

    <div class="col-md-6 col-sm-6">
      <%= textilize(@recipe.content).html_safe if @recipe.content %>
    </div>

    <div class="col-md-6 col-sm-6">
      <%= image_tag @recipe.photo.thumb('400x400#').url, class: 'img-thumbnail' if @recipe.photo %>

      <%= link_to @recipe.facebook_url, class: 'btn btn-block btn-lg btn-primary', target: '_blank' do %>
        <%= icon 'facebook-square' %> <%= t :share %>
      <% end if @recipe.facebook_url.present? %>
    </div>

  </div>
</article>