<header class="page-header">
  <h1><%= t :login %></h1>
</header>

<%= custom_form_for @user, url: submit_path do |f| %>
  <%= f.input :email, autofocus: true %>
  <%= f.input :password %>
  <%= f.button :submit, name: nil, value: t(:login), data: {disable_with: t(:wait)}, class: [:btn, :'btn-primary'] %>
<% end %>