<ul class="nav nav-pills nav-stacked">
  <li><%= link_to t(:admin),     [:admin,      :root] %></li>
  <li><%= link_to t(:statics),   [:admin,    :statics] %></li>
  <li><%= link_to t(:articles),  [:admin,  :articles] %></li>
  <li><%= link_to t(:recipes),   [:admin,   :recipes] %></li>
  <li><%= link_to t(:resources), [:admin, :resources] %></li>

  <li><%= link_to t(:images), [:admin, :images] %></li>
</ul>