<script>

  var quantities =  [ 0, 0, 0, 0, 0, 0, 0, 0, 0, 0 ];
  var velocities =  [ 0, 0, 0, 0, 0, 0, 0, 0, 0, 0 ];

  function StartCounter() {

    var units = [ 
    49877536490, // gallinas
     2676365000, // patos
     1375940758, // cerdos
      635382008, // pavos
      564785251, // ovejas
      402611664, // cabras
      301275455, // vacas y terneros
       23199336, // bufalos
        5018470, // caballos
        1501799  // camellos y otros camelidos
    ];

    var bySecond = 4;
    for (var i = 0; i < quantities.length; ++i){ 
      velocities[i] = units[i] / 365 / 24 / 60 / 60 / bySecond;
    }
    setInterval("UpdateCounter()", 1000 / bySecond);
  }

  function UpdateCounter() {
    var num, thous, str;
    for (var i = 0; i < quantities.length; ++i) {
      quantities[i] += velocities[i];
      num = Math.round(quantities[i]);
      str = "";
      while (num > 1000) {
        thous = num % 1000;
        if (thous < 10)
          thous = "00" + thous;
        else if (thous < 100)
          thous = "0" + thous;
        str = "," + thous + str;
        num = Math.floor(num / 1000);
      }
      str = num + str;
      document.getElementById("cant" + i).innerHTML = str;
    }
  }

</script>

<h4>Animales sacrificados (*) (**)</h4>
<ul class="contador"><!-- counter -->
  <li><%= icon :'angle-right' %><span id="cant0">0</span> gallinas</li>
  <li><%= icon :'angle-right' %><span id="cant1">0</span> patos</li>
  <li><%= icon :'angle-right' %><span id="cant2">0</span> cerdos</li>
  <li><%= icon :'angle-right' %><span id="cant3">0</span> pavos</li>
  <li><%= icon :'angle-right' %><span id="cant4">0</span> ovejas</li>
  <li><%= icon :'angle-right' %><span id="cant5">0</span> cabras</li>
  <li><%= icon :'angle-right' %><span id="cant6">0</span> vacas y terneros</li>
  <li><%= icon :'angle-right' %><span id="cant7">0</span> búfalos</li>
  <li><%= icon :'angle-right' %><span id="cant8">0</span> caballos</li>
  <li><%= icon :'angle-right' %><span id="cant9">0</span> camellos y otros camélidos</li>
</ul>

<p>* Número de animales asesinados por la industria de la carne, del huevo y de los lácteos en todo el mundo desde que has abierto ésta página. Ésto no incluye los miles de millones de peces y otros animales acuáticos asesinados anualmente.</p>
<p>** Basado en las estadísticas del 2007 de la Organización de Comida y Agricultura de los Estados Unidos
(<%= link_to 'Global Livestock Production and Health Atlas', 'http://kids.fao.org/glipha/', target: '_blank' %>).</p>

<script type="text/javascript">
  StartCounter();
</script>